<template>
  <a-form ref="ruleForm" :form="form" class="add" @submit.prevent="sendForm">
    <div class="top_head">
      <div>
        <h3 class="_title">{{ title }}</h3>
      </div>
      <div>
        <a-button type="danger" ghost @click="$router.go(-1)" size="large">
          Отмена
        </a-button>
        <a-button
          type="primary"
          class="btn_green"
          size="large"
          html-type="submit"
        >
          Добавить
        </a-button>
      </div>
    </div>
    <div class=" card" >
      <slot></slot>
    </div>
  </a-form>
</template>

<script>
export default {
  name: 'CreateForm',
  props: ['title', 'form'],
  methods: {
    sendForm() {
      this.$emit('sendForm')
    }
  }
}
</script>
