<template>
  <div>
    <div class="top_head">
      <div>
        <div style="display: flex;align-items: center;">
          <a-icon
            style="margin-right: 10px"
            type="arrow-left"
            class="_icon"
            @click="$router.go(-1)"
          />
          <h3 class="_title">{{ title }}</h3>
        </div>
      </div>
    </div>

    <div class="card">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShowForm',
  props: [
    'title'
  ],
  methods: {
  }
}
</script>

