<template>
  <a-layout-header class="header">


  </a-layout-header>
</template>

<script>

export default {
  name: 'MccHeader',
  methods: {
    async logout() {
      await this.$store.dispatch('Auth/logout')
      await this.$router.push({ name: 'Login' })
    }
  }
}
</script>

