<template>
  <div class="list_component">
    <a-table :columns="columns" :data-source="list" :pagination="false">
      <template slot="menu" slot-scope="text, record">
        <a-dropdown slot="menu">
          <a-menu slot="overlay">
            <a-menu-item @click="edit(record)">
              {{ $t('edit') }}
            </a-menu-item>
          </a-menu>
          <a-icon type="menu" />
        </a-dropdown>
      </template>
    </a-table>
  </div>
</template>

<script>
export default {
  name: 'MccList',
  data: () => ({}),
  props: {
    list: {
      type: Array
    },
    columns: {
      type: Array
    },
    menu: {
      type: Array
    }
  },
  methods: {
    edit(e) {
      this.$router.push({ name: 'editCatalogItem', params: { item: e } })
    }
  }
}
</script>
