<template>
  <router-link :to="link" type="button">
    <a-button type="primary" icon="plus" block>
      Добавить
    </a-button>
  </router-link>
</template>

<script>
export default {
  name: 'AddButton',
  props: ['link']
}
</script>
