<template>
  <a-dropdown>
    <a class="ant-dropdown-link" @click="e => e.preventDefault()">
      <a-button type="primary" icon="menu" block />
    </a>
    <a-menu slot="overlay">
      <a-menu-item v-for="(l, index) in links" :key="index + 'dropdown'">
        <router-link :to="l.link">
          {{ l.name }}
        </router-link>
      </a-menu-item>
    </a-menu>
  </a-dropdown>
</template>

<script>
export default {
  name: 'DropdownLinks',
  props: ['links']
}
</script>
