<template>
  <p class="show_attr" :style="css">
    <span class="show_attr__label">{{ label }}</span
    >{{ value }}
  </p>
</template>

<script>
export default {
  name: 'ShowString',
  props: ['label', 'value', 'css']
}
</script>
