<template>
  <a-table
    :columns="columns"
    :data-source="data"
    rowKey="id"
    :loading="progress"
    :pagination="
      meta
        ? {
            pageSize: meta.per_page || 1,
            total: meta.total || 1,
            current: meta.current_page || 1
          }
        : { total: data.length }
    "
    :rowClassName="rowClass"
    @change="handleTableChange"
  >
    <a v-if="links" slot="name" slot-scope="text">{{ text }}</a>
    <span v-if="links" slot="action" slot-scope="record">
      <a-dropdown>
        <a class="ant-dropdown-link" @click="e => e.preventDefault()">
          <a-button type="primary" icon="menu" block />
        </a>
        <a-menu slot="overlay">
          <template v-for="(l, index) in links">
            <a-menu-item v-if="l" :key="index + 'dropdown'">
              <span @click="clickMenuItem(l, record)" v-if="l.confirm">
                {{ l.name }}
              </span>
              <template v-else-if="l.if_with_link">
                <template v-if="l.if_with_link(record)">
                  <router-link :to="getLinkObject(l.link, record)">
                    {{ l.name }}
                  </router-link>
                </template>
              </template>
              <template v-else-if="l._if">
                <template v-if="l._if(record)">
                  <span @click="clickMenuItem(l, record)">
                    {{ l.name }}
                  </span>
                </template>
              </template>
              <template v-else :link="l.link.name">
                <router-link :to="getLinkObject(l.link, record)">
                  {{ l.name }}
                </router-link>
              </template>
            </a-menu-item>
          </template>
        </a-menu>
      </a-dropdown>
    </span>

    <template slot="footer" v-if="meta">
      {{ meta.current_page }} страница из {{ meta.last_page }}. Всего {{ meta.total }} элементов
    </template>
  </a-table>
</template>

<script>
export default {
  props: ['columns', 'data', 'progress', 'links', 'meta', 'rowClass'],
  methods: {
    handleTableChange(pagination, filters, sorter) {
      let data_filter = {
        page: pagination.current
      }

      if (sorter && 'column' in sorter) {
        data_filter['sort_by'] = sorter.column.dataIndex
        data_filter['sort_to'] = sorter.order == 'descend' ? 'desc' : 'asc'
      }

      this.$emit('changeTable', data_filter)
    },
    getLinkObject(link, record) {
      let l = {
        name: link.name,
        params: {}
      }

      if (!('params' in link)) return l

      for (const [key, value] of Object.entries(link.params)) {
        l.params[key] = record[value]
      }

      return l
    },
    clickMenuItem(l, record) {
      const self = this
      this.$confirm({
        content: l.confirm,
        onOk() {
          if (l.change) {
            l.change(record)

            return
          }
          self.$router.push(self.getLinkObject(l.link, record))
        },
        cancelText: 'Нет',
        okText: 'Да'
      })
    }
  }
}
</script>
