button {
  &.btn_green {
    background: $_green;
    border: 0;
    height: 40px;
    background: $_green;
    border-radius: 4px;
    font-size: 16px;
    color: $_white;
    cursor: pointer;
    padding: 0 10px;

    &.ghost {
      background: $_white;
      color: $_green;
      border: 1px solid $_green;
    }

    &:hover {
      background: lighten($_green, 5%);
      color: $_white;
    }

    &:focus {
      background: lighten($_green, 5%);
      color: $_white;
    }
  }

  &.btn_orange {
    background: $_orange;
    color: $_white;
    border: 0;

    &:hover {
      background: lighten($_orange, 5%);
      color: $_white;
    }

    &:focus {
      background: lighten($_orange, 5%);
      color: $_white;
    }
  }

  &.btn_violet {
    background: $_violet;
    color: $_white;
    border: 0;

    &:hover {
      background: lighten($_violet, 5%);
      color: $_white;
    }

    &:focus {
      background: lighten($_violet, 5%);
      color: $_white;
    }
  }

  &.btn_red {
    background: $_red;
    color: $_white;
    border: 0;

    &:hover {
      background: lighten($_red, 5%);
      color: $_white;
    }

    &:focus {
      background: lighten($_red, 5%);
      color: $_white;
    }
  }

  &.btn_blue {
    background: $_blue;
    color: $_white;
    border: 0;

    &:hover {
      background: lighten($_blue, 5%);
      color: $_white;
    }

    &:focus {
      background: lighten($_blue, 5%);
      color: $_white;
    }
  }

  &.btn_red-secondary {
    background: $_white;
    color: $_red;
    border: 1px solid $_red;

    &:hover {
      background: lighten($_white, 5%);
      color: $_red;
      border-color: lighten($_red, 25%);
    }
  }

  &.w_min {
    width: max-content;
  }
  &.btn-choose {
    margin-top: auto;
  }
  &.mrg-10 {
    margin-top: 10px;
  }
}
