$_black: #000000;
$_raisinBlack: #262626;
$_blue: #1890FF;
$_orange: #f2994a;
$_red: #eb5757;
$_green: #27ae60;
$_violet: #9b51e0;
$_yellow: #f2c94c;
$_grey: #bdbdbd;
$_white: #ffffff;
$_snow: #FBFBFB;
$_sGrey: #8c8c8c;
$_gray20: #333333;
$_gray85: #D9D9D9;
$_haiti: #323136;
$_nero: #1d1d1d;
$_pink: #ef5da8;
$_blueberry: #5d5fef;
