.upload {
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $_gray20;
    margin-bottom: 7px;
  }
}
.input_number {
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $_gray20;
    margin-bottom: 7px;
  }

  .ant-input-number {
    width: 100%;
  }
}
.input {
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $_gray20;
    margin-bottom: 7px;
  }

  input:not(.ymaps-2-1-78-searchbox-input__input) {
    background: $_white;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
  }

  textarea {
    height: 100px;
    background: $_white;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;

    &.ant-input {
      height: 225px;
    }
  }

  .auto_complete {
    width: 100%;
    height: 40px;
  }

  &._error {
    span {
      display: block;
    }

    input {
      border-color: $_red;
    }
  }
}

.input_date {
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $_gray20;
    margin-bottom: 7px;
  }
  span {
    height: 40px;
  }
}

.select_label {
  width: 100%;

  .ant-select {
    display: block;
    width: 100%;
  }

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $_gray20;
    margin-bottom: 7px;
  }

  .select {
    width: 100%;

    .ant-select-selection {
      min-height: 40px;
      display: flex;
      align-items: center;
    }
  }
}

.datepicker {
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $_gray20;
    margin-bottom: 7px;
  }

  .ant-calendar-range-picker-separator {
    vertical-align: baseline;
  }

  .ant-input {
    height: 40px;
  }
}

.profile_wrapper {
  max-width: 1000px;
  input {
    width: 320px;
    margin-right: 20px;
  }
  textarea {
    resize: none;
  }
  .show_attr {
    .show_attr__label {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .profile_title {
    margin-bottom: 45px;
  }
  .profile_item {
    margin-top: 30px;
  }
}

.profile_wrapper .profile_positions {
  margin-right: 20px;
  margin-bottom: 30px;
  height: 40px !important;
  .ant-select-selection__rendered {
    line-height: 40px;
  }
  .ant-select-selection--single {
    height: 40px !important;
  }
}

.card {
  &_input {
    width: 320px;
    height: 40px;
    margin-right: 20px;
    padding: 8px 12px;
    border: 1px solid $_gray85;
    font-size: 16px;
    font-weight: 400;
    font-family: 'SF Pro Text';
  }
  &_comment {
    width: 70%;
    border: 1px solid $_gray85;
    resize: none;
    padding: 8px 12px;
    font-family: 'SF Pro Text';
    font-size: 14px;
    height: 100px;
  }
}

.login ._card .ant-form-item-label label {
  font-size: 16px;
  font-weight: 600;
}

.statistics {
  &_title {
    margin: 50px 0 40px;
  }
}

.inputs {
  align-items: flex-end;
  &_wrap {
    position: absolute;
    display: flex;
    right: 20px;
    top: 50px;
    z-index: 99999;
  }
  .input p {
    font-size: 14px;
  }
}
