
.top_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  ._title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $_haiti;
    margin: 0;

    ._icon {
      cursor: pointer;
      margin-right: 15px;
    }
  }

  > div {
    display: flex;
    align-items: center;

    > * {
      &:first-child {
        margin-left: 0;
      }

      margin-left: 10px;
    }
  }
}

.action {
  display: block;
  position: relative;

  > * {
    &:focus {
      ~ ._tooltip {
        opacity: 1;
        z-index: 9;
      }
    }
  }

  ._tooltip {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 100%;
    min-width: 130px;
    background: $_white;
    border-radius: 2px;
    padding: 5px 0;
    transition: all 0.3s;
    opacity: 0;
    z-index: -9;

    &._right {
      &:after {
        right: 20px;
        transform: unset;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $_white;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        min-height: 40px;
        font-size: 14px;
        color: $_raisinBlack;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          background: #fafafa;
        }
      }
    }
  }
}

.path {
  ul {
    display: flex;
    align-items: center;
    margin: 0;

    li {
      font-size: 14px;
      line-height: 22px;
      color: $_sGrey;
      margin: 0 20px 0 0;
      position: relative;

      &:last-child {
        color: $_raisinBlack;

        &:after {
          display: none;
          margin-right: 0;
        }
      }

      &:after {
        content: '/';
        font-size: 14px;
        line-height: 22px;
        color: $_sGrey;
        position: absolute;
        right: -12px;
      }
    }
  }
}

.group_grid {
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  grid-gap: 30px;

  &._gap_20 {
    grid-gap: 20px;
  }
  &.mb_30 {
    margin-bottom: 30px;
  }

  &._row_2 {
    grid-template-rows: auto 1fr;
  }

  ._column_2{
    grid-column: span 2;
  }

  ._column_4{
    grid-column: span 4;
  }
}

.tabs {
  ul {
    margin: 0;
    list-style: none;
    background: $_white;
    border-radius: 2px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    width: max-content;

    > * {
      margin-left: 30px;

      &:first-child{
        margin-left: 0;
      }
    }

    li {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $_raisinBlack;
      height: 60px;
      display: flex;
      align-items: center;
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      transition: all .3s;
      cursor: pointer;

      &.active {
        color: $_blue;
        border-bottom: 2px solid $_blue;
      }

      &:hover{
        color: $_blue;
      }
    }
  }
}

.mt_30{
  margin-top: 30px;
}

.mb_10{
  margin-bottom: 10px !important;
}

.ml_10{
  margin-left: 10px !important;
}

.anychart-credits{
  display: none;
}

/*SideBar*/

.sidebar {
  overflow-y: auto;
  .ant-layout-sider-children {
    .ant-menu-submenu {
      .ant-menu-submenu-title {
          line-height: 19px;
          height: 100%;
          padding-bottom: 7px;
          span {
            white-space: normal;
          }
        .ant-menu-submenu-arrow {
          width: 0;
          top: 45%;
        }
      }
    }
  }

  .ant-menu-dark.ant-menu-inline .ant-menu-item {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0;
  }
  .ant-menu-item,
  .ant-menu-submenu {
    white-space: inherit;
    line-break: auto;
    width: 100%;
    line-height: 18px;
    padding: 9px 20px 9px 0;
    height: 100%;
    vertical-align: middle;
  }
}


// reeest com obj

.reestr_com {
  &-item {
    padding-bottom: 50px;
    &-button {
      grid-column-start: 6;
      display: flex;
      justify-content: flex-end;
      &-map {
        padding-bottom: 0;
      }
    }
  }
  &-button-du {
    padding-bottom: 0;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    height: 100%;
  }
  &-bp-button {
    align-items: flex-end
  }
}

.column5 {
  --column: 5 !important;
}

._wrapper_block {
  background: #F0F2F5;
}

// statistika

.statistics tr td:nth-child(5) {
  color: $_blue;
  font-weight: 500;
}

.statistics tr td:nth-child(6) {
  color: $_green;
  font-weight: 500;
}

.statistics tr td:nth-child(7) {
  color: $_red;
  font-weight: 500;
}

.wrapper-total {
  & .ant-card-body {
    padding: 14px;
  }
  & .index--0 .ant-statistic-content {
    color: $_haiti;
  }
  & .index--1 .ant-statistic-content {
    color: $_green;
  }
  & .index--2 .ant-statistic-content {
    color: $_pink;
  }
  & .index--3 .ant-statistic-content {
    color: $_blueberry;
  }
  & .indexOrg--0 .ant-statistic-content {
    color: $_haiti;
  }
  & .indexOrg--1 .ant-statistic-content {
    color: $_haiti;
  }
  & .indexOrg--2 .ant-statistic-content {
    color: $_blueberry;
  }
  & .indexOrg--3 .ant-statistic-content {
    color: $_green;
  }
  & .indexOrg--4 .ant-statistic-content {
    color: $_red;
  }
}

._user-dropdown {
  font-size: 14px;
  font-family: "SF Pro Text";
}

._user-dropdown:before {
  content: ""; 
  border: solid transparent;
  position: absolute;    
  right: 10px;
  bottom: none;
  top: -17px;
  width: 15px;
  border-bottom-color: $_white;
  border-width: 9px;
  opacity: 1;
}
._timeline{
  ._title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #323136;
    margin: 0 0 20px;
  }

  p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
  }
}
