.ant-table{
   background: $_white;

   .ant-table-thead{
      .ant-table-column-title{
         font-size: 12px;
         display: list-item;
      }
   }
}

.not_pagination{
   .ant-pagination{
      display: none;
   }
}

.movement{
   .ant-table{
      .ant-table-thead{
         tr th{
            height: 55px;
            padding-top: 0;
            padding-bottom: 0;
         }

          > tr:first-child > th:first-child{
            padding-left: 20px;
         }
         tr th{
            padding: 0 5px;
         }
      }
   }
}
