@import "fonts";
//ColorVariables
@import "colors";

//Elements
@import "inputs";
@import "buttons";
@import "other";
@import "card";
@import "table";

*{
  box-sizing: border-box;

  &:focus{
    outline: none;
  }

  ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

body{
  background: $_snow !important;
}

.kom.card .ant-form-item {
  margin-bottom: 0px !important;
}

.kom_wrapper {
  margin: 20px 0 60px;
}

.kom_cart_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px
}

.show_attr {

  .show_attr__label {
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
  }
}


.obligation_block {
  padding: 17px;
  border: 1px solid $_blue;
  margin-bottom: 20px;
}

.danger_row {
  color: #EB5757;
}

.warning_row {
  background: #FFF1C5;
}

//scroll style 

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #1890ff;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0076e1;
}