<template>
  <div class="input" :style="row_css" :id="name">
    <p>{{ label }}</p>
    <a-form-item>
      <a-input
        :placeholder="placeholder"
        type="email"
        size="large"
        v-decorator="[
          name,
          {
            rules: [{ required: required, message: rule_message }]
          }
        ]"
        @change="change"
        :style="css"
      />
    </a-form-item>
  </div>
</template>

<script>
export default {
  name: 'EmailInput',
  props: {
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean
    },
    rule_message: {
      type: String,
      default: function() {
        return 'Обязательно для заполнения'
      }
    },
    css: {
      type: String,
      default: ''
    },
    row_css: {
      type: String,
      default: ''
    }
  },
  methods: {
    change(value) {
      this.$emit('change', value)
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  height: 90px;
}
</style>
