<template>
  <div class="input" :style="row_css" :id="name">
    <p>
      {{ label }}
    </p>
    <a-form-item>
      <a-input
        :placeholder="placeholder"
        step="any"
        v-decorator="[
          name,
          {
            initialValue: value || '',
            rules: [
              { required: required, message: rule_message },
            ]
          }
        ]"
        @change="change"
        :style="css"
        :value="value"
      />
    </a-form-item>
  </div>
</template>

<script>
export default {
  name: 'StringInput',
  props: {
    label: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean
    },
    rule_message: {
      type: String,
      default: function() {
        return 'Обязательное поле'
      }
    },
    css: {
      type: String,
      default: ''
    },
    row_css: {
      type: String,
      default: ''
    }
  },
  methods: {
    change(value) {
      this.$emit('change', value)
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  height: 90px;
}
</style>
