<template>
  <div class="input" :style="row_css" :id="name">
    <p>{{ label }}</p>
    <a-form-item>
      <a-textarea
        :placeholder="placeholder"
        v-decorator="[
          name,
          {
            initialValue: value || '',
            rules: [{ required: required, message: rule_message }]
          }
        ]"
        :rows="4"
        @change="change"
        :style="css"
      />
    </a-form-item>
  </div>
</template>

<script>
export default {
  name: 'TextInput',
  props: {
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean
    },
    rule_message: {
      type: String,
      default: function() {
        return 'Обязательное поле'
      }
    },
    css: {
      type: String,
      default: ''
    },
    row_css: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Number]
    }
  },
  methods: {
    change(value) {
      this.$emit('change', value)
    }
  }
}
</script>
