<template>
  <a-layout class="default_layout">
    <a-layout>
      <Header />
      <a-layout-content class="content">
        <slot />
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script>
import Header from '@/components/Header'

export default {
  name: 'MclDefaultLayout',
  components: {
    Header
  },
  async beforeCreate() {
    await this.$store.dispatch('Auth/getUser')
  }
}
</script>

<style scoped lang="scss">
.default_layout {
  height: 100vh;
}

.content {
  padding: 40px 25px;
}
</style>
