<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
export default {
  computed: {
    layout() {
      return this.$route.meta.layout || 'default-layout'
    },
    store() {
      return this.$store
    }
  }
}
</script>

<style lang="scss" scoped></style>
