<template>
  <CreateForm title="Форма добавления" :form="form" v-on:sendForm="sendForm">
    <div class="group_grid " style="--column: 1">
      <StringInput label="Наименование" name="name" :required="true" />
      <StringInput label="Ссылка" name="url" :required="true" />
      <StringInput label="Логин" name="login" :required="true" />
      <StringInput label="Пароль" name="password" :required="true" />
      <TextInput label="Заметка" name="note" :required="false" />
    </div>
  </CreateForm>
</template>
<script>
import CreateForm from '@/components/form/CreateForm'
import StringInput from '@/components/inputs/StringInput'
import TextInput from '@/components/inputs/TextInput'

export default {
  name: 'Add',
  components: {
    CreateForm,
    StringInput,
    TextInput
  },
  data() {
    return {
      form: this.$form.createForm(this, { name: 'Add' })
    }
  },
  methods: {
    sendForm() {
      this.form.validateFields((err, values) => {
        if (!err) {
          this.$store
            .dispatch('PasswordNote/create', values)
            .then(() => {
              this.$notification.success({
                message: 'Создано'
              })
              this.$router.go(-1)
            })
            .catch(error => {
              this.$notification.error({
                message: error.message
              })
            })
        } else {
          let errorElement = Object.keys(err)[0]
          const element = document.getElementById(errorElement)
          element.scrollIntoView({ behavior: 'smooth' })
        }
      })
    }
  }
}
</script>