<template>
  <EditForm title="Форма редакции" :form="form" v-on:sendForm="sendForm">
    <div class="group_grid " style="--column: 1">

      <StringInput label="Наименование" name="name" :required="true" />
      <StringInput label="Ссылка" name="url" :required="true" />
      <StringInput label="Логин" name="login" :required="true" />
      <StringInput label="Пароль" name="password" :required="true" />
      <TextInput label="Заметка" name="note" :required="false" />
    </div>
  </EditForm>
</template>
<script>
import { mapGetters } from 'vuex'
import EditForm from '@/components/form/EditForm'
import StringInput from '@/components/inputs/StringInput'
import TextInput from '@/components/inputs/TextInput'

export default {
  name: 'Edit',
  components: {
    EditForm,
    StringInput,
    TextInput
  },
  data() {
    return {
      form: this.$form.createForm(this, { name: 'Edit' })
    }
  },
  computed: {
    ...mapGetters({
      item: 'PasswordNote/detail'
    })
  },
  mounted() {
    this.$store
      .dispatch('PasswordNote/getItem', this.$route.params.id)
      .then(() => {
        this.form.setFieldsValue({
          name: this.item.name,
          url: this.item.url,
          login: this.item.login,
          password: this.item.password,
          note: this.item.note,
        })
      })
  },
  async beforeRouteLeave(to, from, next) {
    await this.$store.commit('PasswordNote/successDetail', {})
    next()
  },
  methods: {
    sendForm() {
      this.form.validateFields((err, values) => {
        if (!err) {
          values.id = this.$route.params.id
          this.$store
            .dispatch('PasswordNote/update', values)
            .then(() => {
              this.$notification.success({
                message: 'Изменено'
              })
              this.$router.go(-1)
            })
            .catch(error => {
              this.$notification.error({
                message: error
              })
            })
        } else {
          let errorElement = Object.keys(err)[0]
          const element = document.getElementById(errorElement)
          element.scrollIntoView({ behavior: 'smooth' })
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped></style>
