<template>
  <div>
    <div class="top_head">
      <h3 class="_title">Логины и пароли</h3>
      <div>
        <AddButton :link="{ name: 'PasswordNoteAdd' }" />
      </div>
    </div>


    <DefTable
      :columns="columns"
      :data="items.data"
      :progress="progress"
      :meta="items.meta"
      :links="[
        {
          link: { name: 'PasswordNoteEdit', params: { id: 'id' } },
          name: 'Изменить'
        },
        {
          link: { name: 'PasswordNoteShow', params: { id: 'id' } },
          name: 'Просмотреть'
        },
        {
          name: 'Удалить',
          change: deleteItem,
          confirm: 'Вы точна хотите удалить?'
        }
      ]"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { columns } from '@/data/table_column/password_note'

export default {
  data() {
    return {
      columns: columns
    }
  },
  computed: {
    ...mapGetters({
      items: 'PasswordNote/all',
      progress: 'PasswordNote/progress'
    })
  },
  mounted() {
    this.$store.dispatch('PasswordNote/getList')
  },
  methods: {
    deleteItem(data) {
      this.$store
        .dispatch('PasswordNote/delete', data.id)
        .then(() => {
          this.$notification.success({
            message: 'Удалено'
          })
        })
        .catch(error => {
          this.$notification.success({
            message: error
          })
        })
    }
  }
}
</script>
