<template>
  <ShowForm
    title="Форма просмотра"
    :edit_link="{ name: 'LibraryFaqEdit', params: { id: item.id } }"
  >
    <div class="group_grid" style="--column: 1">
      <ShowString
        label="Наименование"
        :value="item.name"
      />
      <ShowString
        label="Ссылка"
        :value="item.url"
      />
      <ShowString
        label="Логин"
        :value="item.login"
      />
      <ShowString
        label="Пароль"
        :value="item.password"
      />
      <ShowString
        label="Заметка"
        :value="item.note"
      />
    </div>
  </ShowForm>
</template>

<script>
import { mapGetters } from 'vuex'
import ShowForm from '@/components/form/ShowForm'
import ShowString from '@/components/show_input/ShowString'

export default {
  name: 'Show',
  components: {
    ShowForm,
    ShowString
  },
  mounted() {
    this.$store.dispatch('PasswordNote/getItem', this.$route.params.id)
  },
  computed: {
    ...mapGetters({
      item: 'PasswordNote/detail'
    })
  }
}
</script>
