<template>
  <div class="login">
    <div class="logo">
      Password Manager
    </div>
    <a-form
      ref="ruleForm"
      :form="form"
      class="_card _card__login"
      :hideRequiredMark="true"
      @submit.prevent="handleSubmit"
    >
      <div class="login_title">Форма входа</div>
      <div class="login_spec_valid_message" v-if="!valid_form">
        Неверный логин или пароль
      </div>
      <a-form-item label="Email">
        <a-input
          size="large"
          placeholder="Email"
          name="email"
          v-decorator="[
            'email',
            {
              rules: [
                { required: true, message: 'Укажите Email' }
              ]
            }
          ]"
        />
      </a-form-item>
      <a-form-item label="Пароль" class="__login_row">
        <a-input
          size="large"
          placeholder="Пароль"
          name="password"
          type="password"
          v-decorator="[
            'password',
            {
              rules: [
                { required: true, message: 'Укажите пароль' }
              ]
            }
          ]"
        />
      </a-form-item>
      <a-button
        class="_card-buttonIn"
        block
        size="large"
        type="primary"
        html-type="submit"
        :loading="btnLoading"
        :disabled="btnLoading"
      >
        Войти
      </a-button>
    </a-form>
  </div>
</template>

<script>

export default {
  name: 'Login',
  data() {
    return {
      form: this.$form.createForm(this, { name: 'login' }),
      btnLoading: false,
      valid_form: true
    }
  },
  methods: {
    handleSubmit() {
      this.form.validateFields((err, values) => {
        this.btnLoading = true

        if (!err) {
          this.valid_form = true
          this.$store
            .dispatch('Auth/login', values)
            .then(async () => {
              return this.$router.push({ name: 'LibraryFaqList' })
            })
            .catch(() => {
              this.valid_form = false
              this.$notification.error({
                message: 'Укажите правильный логин или пароль'
              })
            })
            .finally(() => {
              this.btnLoading = false
            })
        } else {
          this.valid_form = false
          this.btnLoading = false
        }
      })
    }
  }
}
</script>

<style lang="scss">
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: 'SF Pro Text';
  font-size: 16px;
  background: #f0f2f5;
  &_title {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 25px;
    color: #323136;
  }
  .logo {
    font-size: 24px;
    font-weight: 700;
    color: #262626;
    margin-bottom: 20px;
  }
  ._card {
    min-width: 380px;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 30px;
    &-buttonIn {
      width: 80px;
      height: 40px;
      float: right;
    }
  }
  .input {
    margin-bottom: 20px;
  }
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {
    padding-left: 19px;
  }
}

._card__login .ant-form-item-control .ant-form-explain {
  overflow: hidden !important;
  min-height: 22px !important;
  color: #ffffff !important;
  font-size: 0;
}
.login_spec_valid_message {
  clear: both;
  min-height: 22px;
  margin-top: -2px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1.5;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #f5222d !important;
  text-align: center;
  margin-bottom: 6px;
}
</style>
